<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h3>Modificar Clientes</h3>
    {% if cliente %}
        <form action="{% url 'clienteUpdate' %}" method="POST">
            {% csrf_token%}
            <pre>Rut: <input type="text" name = "rut" value="{{cliente.rut}}"></pre>
            <pre>Nombre: <input type="text" name = "nombre" value="{{cliente.nombre}}"></pre>
            <pre>Apellido Paterno: <input type="text" name = "apePat" value="{{cliente.apellido_paterno}}" ></pre>
            <pre>Apellido Materno: <input type="text" name = "apeMat" value="{{cliente.apellido_materno}}"></pre>
            <pre>Fecha de Nacimiento:<input type="date" name = "fechaNac" value="{{cliente.fecha_nacimiento|date:'Y-m-d'}}"></pre>
            <pre>Género: <select name="genero">
                {% for tmp in generos %}
                    {% if tmp.genero == cliente.id_genero.genero %}
                        <option value="{{tmp.id_genero}}" selected>{{tmp.genero}}</option>
                    {% else %}
                        <option value="{{tmp.id_genero}}">{{tmp.genero}}</option>
                    {% endif %}
                {% endfor %}
            </select></pre>
            <pre>Teléfono:<input type="text" name = "telefono" value="{{cliente.telefono}}"></pre>
            <pre>Email:<input type="email" name = "mail" value="{{cliente.email}}"></pre>
            <pre>Dirección:<input type="text" name = "direccion" value="{{cliente.direccion}}"></pre>
            <input type="submit" value="Modificar">
        </form>
    {% endif %}
    <br>
    <div id="id_mensaje">
        {% if mensaje %}
            {{mensaje}}
        {% endif%}
    </div>

    <a href="{% url 'clienteindex' %}">Volver</a>
</body>
</html>