{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
</head>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">
          
        </a>
        <div class="navbar-brand">
          <a href={% url 'index' %}><h1 class="titulo-biker-store" >Biker Store
            
          </h1>
        </div>
      
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto ">
            <li class="nav-item active">
              <a class="nav-link " href={% url 'cascos' %} tabindex="-1" aria-disabled="true">Accesorios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'bicicletass' %}>Bicicletas</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href={% url 'repuesto' %}>Repuestos
              </a>
              
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href={% url 'nosotros' %} tabindex="-1" aria-disabled="true">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href={% url 'json' %} tabindex="-1" aria-disabled="true">Inventario</a>
              
            </li>
    
            <li class="nav-item">
              <a class="nav-link " href={% url 'reclamos' %} tabindex="-1" aria-disabled="true">Reclamos</a>
              
            </li>
    
            <li class="nav-item">
              {% if user.username == 'admin' %}
              <a class="nav-link " href={% url 'clienteindex' %} tabindex="-1" aria-disabled="true">Agregar Cliente</a>
              {% endif %}
              
            </li>
          
          </ul>
    
    
    
    
    
    
    
    
    
    
    
    
    
          <div>
            <a href="login.html" class="btn btn-primary"><button></button>Iniciar Sesión</a>
            
          </div>
    
          
    
    
    
        </div>
    
    
    
                <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
      Direccion
    </button>
    
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">14 Norte 1001 esquina 3 Oriente, Viña del Mar, Región de Valparaíso.</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <img src={% static 'media/direccion.png'%} alt class="direccion">
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
    
        </div>
      </div>
    </div>
    
        
      </nav>




    </header>
    <h2 class="titulo-nosotros">Nosotros</h2>

    <div class="card-container">
    <div class="card" style="width:400px" >
        <img class="card-img-top" src={% static 'media/fundador1.png'%} alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Felipe Lobos</h4>
          <p class="card-text">Socio fundador de la empresa BikerStore</p>
        </div>
      </div>

      <div class="card2" style="width:245px">
        <img class="card-img-top" src={% static 'media/fundador2.jpg'%} alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Matias Fuentes</h4>
          <p class="card-text">Socio fundador de la empresa BikerStore</p>
        </div>
      </div>
    </div>
   
   <!-- pie de página -->

<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Ingresar email para obtener noticias y descuentos</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribir
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        ¡Bienvenido a Biker Store, tu destino número uno para todo lo relacionado con el mundo de las bicicletas y los ciclistas apasionados!
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">


        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
 
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Biker Store</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</body>
</html>